.active {
  cursor: pointer;
  font-weight: bold;
}

.pagesNum {
  font-size: 20px;
  padding: 10px;
}

.paginator {
  margin: 10px;
}

.pageNumber {
  border: 1px solid #e2d6d6;
  cursor: pointer;
  padding: 2px;
}

.selectedPage {
  border: 2px solid #000;
  color: #960f0f;
  font-weight: bold;
  padding: 2px;
}

.button {
  text-transform: uppercase;
}
