
 .active {
    font-weight: bold;
     cursor: pointer;
 }

  .pagesNum {
    font-size: 20px;
    padding: 10px;
}
.paginator{

    margin: 10px;

}
.pageNumber{
    padding: 2px;
    border: 1px solid grey;
    /*border-right: 0 ;*/
    cursor: pointer;
}
 .selectedPage  {
    font-weight: bold;
    border-color: #f63d3d;
}
