
.photo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 20px;
}

 .active {
    font-weight: bold;
     cursor: pointer;
 }

  .pagesNum {
    font-size: 20px;
    padding: 10px;
}