.imgAvat {
  border-radius: 50%;
  float: left;
  height: 85px;
  margin-bottom: 30px;
  margin-left: 8px;
  width: 85px;
}

.text {
  color: #c0c0c0;
  font-size: 16px;
  position: relative;
  right: 65px;
  top: 90px;
}
