.dialogUser {
  cursor: pointer;
  list-style-type: none;
}

.dialogUser .active {
  color: #ef8208;
}

.imgAvatar {
  border-radius: 50%;
  height: 60px;
  margin: 5px;
  width: 60px;
}
.user {
  margin: -65px 0 0 40px;
  padding-bottom: 20px;
}
