.content {
  padding: 0 50px;
}

.breadcrumb {
  margin: 16px 0;
}

.menu {
  height: 100%;
}

.contents {
  min-height: 280px;
  padding: 0 24px;
}

.footer {
  text-align: center;
}

.sider {
  width: 200px;
}

.layout {
  padding: 24px 0;
}
