.bg {
  background: #f1f1e5;
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.textarea {
  margin: 20px 0 10px 0;
}

.circle {
  background: #eedd8f;
  border-radius: 50%;
  height: 30px;
  margin: 20px 0 0 100px;
  width: 30px;
}

.active {
  margin-top: 10px;
  position: relative;
}

.dialog {
  min-width: 50px;
}

.message {
  text-transform: uppercase;
}
